// stay tune box
.newslatter-section{
    position: relative;

}

.stay-tune-box{

    position: relative;
    border: 1px solid transparent;

    .tune-box-title{
        color: hsl(var(--black));
    }
    .tune-box-subtitle{
        color: hsl(var(--black));
    }
}


// subscribe box
.footer-subscribe-box {


    form {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
    }

    .footer-input {

        border: 1px solid hsl(var(--base));
        background: hsl(var(--white));
        color: hsl(var(--black)) !important;
        padding: 11px ;
        padding-right: 112px;
        border-radius: 12px;

        &::placeholder {
            color: hsl(var(--black)/0.7) !important;
            font-size: 14px;
        }
    }

    .search-btn {
        width: 30px;
        height: 30px;
        flex-shrink: 0;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        right: 8px;
    }

}

